<style>
  .main-table  {
    display: table;
    width: 100%;
    padding: 0px 1px 0px 1px;
  }

  .table-row  {
    display: table-row;
  }

  .table-cell {
    display: table-cell;
  }

</style>


<h1>Build MySQL database</h1>

<div class="main-table">
  <div class="table-row">
    <div class="table-cell">
       <img src="" class = "icons"> 
    </div>
    <div class="table-cell">
      <%=image_tag("", class: 'icons')%>
    </div>
    <div class="table-cell">
      <%=image_tag("", class: 'icons')%>
    </div>
  </div>
</div>


<script>

var images = ['CouchDB.png','forward.png','MySQL_DB.png'];
icons = document.getElementsByClassName('icons');

function setupImages() {
  for(var i = 0; i < icons.length; i++) {
    icons[i].setAttribute('src','/images/' + images[i]);
    //images/manage-cases-icons/CouchDB.png
  }
}

</script>
