<style>
#main-table  {
  width: 100%;
}

#main-table_paginate, #main-table_info, #main-table_filter, #main-table_length {
  display: none;
}

</style>


<h1>Build MySQL database</h1>

<table id="main-table">
  <thead>
    <tr>
      <th>CouchDB</th>
      <th>MySQL DB</th>
      <th>MySQL installation file</th>
      <th>&nbsp;</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td id="couchdb">No.of records:&nbsp;<%=@count_couchdb%></td>
      <td id="mysqldb">No. of records:</td>
      <td id="transfers">Completion %:&nbsp;<span id="installation_per">0</span></td>
      <td style="width: 20%;">
        <table style="width: 100%;">
          <tr>
            <td><a href="javascript:startTransfer();" class="btn btn-info">Start transfer</a></td>
            <td><a href="#" class="btn btn-danger">Stop transfer</a></td>
          </tr>
        </table>
      </td>
    </tr>
  </tbody>
</table>

<script>

var page_number = 1

function initDataTable(){        
  try {  
    dataTable = $('#main-table').dataTable();
  }catch(e){
    alert(e);
  }
}

function startTransfer() {
  if (window.XMLHttpRequest) {// code for IE7+, Firefox, Chrome, Opera, Safari  
    xmlhttp=new XMLHttpRequest();                                             
  }else{// code for IE6, IE5                                                  
    xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");                           
  }
                                                                           
  xmlhttp.onreadystatechange=function() {                                     
    if (xmlhttp.readyState==4 && xmlhttp.status==200) {                       
      var results = xmlhttp.responseText;

      if(results == 'undefined' || results == '' || results == '"not validate"' || results.length == 0) {
        return;                                                               
      }else{
        var data = JSON.parse(results);
        alert(parseInt(data['people_count']));

        if(parseInt(data['people_count']) > 0) {
          page_number += 1;
          startTransfer();
        }                                                    
      }                                                                       
    }                                                                         
  }

  xmlhttp.open("GET",("/create_mysql_database/" + page_number),true);
  xmlhttp.send(); 
}

initDataTable()

</script>
