<div id="main" >
  <div id="button-container">
      <div class="left" style="width:90%; text-align:center">
            <form action="/update_password">
              <table style="margin: auto; font-size: 12px; border: none; min-width: 400px; margin-top: 40px;">
                    <tr>
                          <td>New Password</td>
                          <td>
                            <input type="password"  class="col-md-6 " name="user[new_password]" id="user_new_password" value="" class="input_cell"/ required="required" onblur="samePassword();passwordLength()">
                          </td>
                    </tr>
                    <tr>
                        <td>Confirm Password</td>
                    </tr>
              </table>
            </form>
      </div>
  </div>
</div>