<table style="margin: auto; font-size: 12px; border: none; min-width: 400px; margin-top: 40px;">
  <tr>
    <th colspan="3" style="text-align: center !important; border-bottom: 1px solid #666; padding: 10px !important; font-size: 18px;">
      Change Current User Password
    </th>
  </tr>
  <tr>
    <td colspan="3">
      &nbsp;
    </td>
  </tr>
  <tr>
    <td align="right" style="padding: 10px; font-weight: normal; width: 200px;">
      Current Password
    </td>
    <td style="width: 10px;">
      :
    </td>
    <td align="left" style="padding: 10px;">
      <input type="password" name="old_password" id="old_password" value="" class="input_cell"/>
    </td>
  </tr>
  <tr>
    <td align="right" style="padding: 10px; font-weight: normal;">
      New Password
    </td>
    <td style="width: 10px;">
      :
    </td>
    <td align="left" style="padding: 10px; width: 300px;">
      <input type="password" name="new_password" id="new_password" value="" class="input_cell"/>
    </td>
  </tr>
  <tr>
    <td align="right" style="padding: 10px; font-weight: normal;">
      Confirm Password
    </td>
    <td style="width: 10px;">
      :
    </td>
    <td align="left" style="padding: 10px; width: 300px;">
      <input type="password" name="confirm_password" id="confirm_password" value="" class="input_cell"/>
    </td>
  </tr>
  <tr>
    <td colspan="3">
      &nbsp;
    </td>
  </tr>
  <tr>
    <td colspan="3" align="center">
      <button id="btnAction" class="blue" style="cursor: pointer;
              border: 1px solid #fff; padding: 5px; border-radius: 50px; padding-top: 7px; z-index: 1200;
              font-size: 13px; min-height: 25px;" onclick="changePassword();">Update
        Password
      </button>
    </td>
  </tr>
  <tr>
    <td colspan="3">
      &nbsp;
    </td>
  </tr>
  <tr>
    <td colspan="3">
      &nbsp;
    </td>
  </tr>
</table>



<script>

    function __$(id) {
        return document.getElementById(id);
    }

    function changePassword() {

        if (__$("new_password") && __$("confirm_password") && __$("old_password") && (
                __$("new_password").value.trim().length == 0 || __$("confirm_password").value.trim().length == 0 ||
                __$("old_password").value.trim().length == 0)) {

            showMsg("Please fill all fields!");

         } else if (__$("new_password") && __$("confirm_password") && __$("new_password").value.trim() != __$("confirm_password").value.trim()) {

            showMsg("Password Mismatch!");

         } else if (__$("new_password") && __$("confirm_password") && __$("new_password").value.trim() == __$("old_password").value.trim()) {

            showMsg("Old password and new password are the same!");

        
         } else {

            ajaxSave();

        }

    }
    function ajaxSave() {

        var url = "/users/update_password";

        var data = "old_password=" + __$("old_password").value.trim() + "&new_password=" + __$("new_password").value.trim();

        var httpRequest = new XMLHttpRequest();
        httpRequest.onreadystatechange = function () {
            handleSave(httpRequest);
        };
        try {
            httpRequest.open('POST', url, true);
            httpRequest.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            httpRequest.setRequestHeader("X-Requested-With", "XMLHttpRequest");
            httpRequest.send(data);

        } catch (e) {
        }
    }

    function handleSave(aXMLHttpRequest) {
        if (!aXMLHttpRequest) return;

        if (aXMLHttpRequest.readyState == 4 && (aXMLHttpRequest.status == 200 ||
                aXMLHttpRequest.status == 304)) {

            var result = aXMLHttpRequest.responseText;

            if (result.trim().toLowerCase() == "true") {

                showMsg("Password Succesfully Changed!");

                window.location = "/";

            } else if (result.trim().toLowerCase() == "not same") {

                showMsg("Your Current Password is not correct!");

            } else if (result.trim().toLowerCase() == "same") {

                showMsg("Your new Password has been used before!");

            } else {

                showMsg("Password Change Failed!");

            }
            

        }
    }
    
     function showMsg(msg, height, width, action) {

    showShield(undefined, true);

    if (!__$("shield")) {

      showShield(undefined, true);

    }

    var popup = document.createElement("div");
    popup.id = "popup";
    popup.style.position = "absolute";
    popup.style.minHeight = (height == undefined ? "150px" : height);
    popup.style.top = "20%";
    popup.style.width = (width == undefined ? "330px" : width);
    popup.style.left = ((window.innerWidth - 330) / 2) + "px";
    popup.style.backgroundColor = "#eee";
    popup.style.zIndex = 1300;
    popup.style.border = "2px outset #eee";
    popup.style.borderRadius = "8px";
    popup.style.padding = "3px";

    document.body.appendChild(popup);

    var table = document.createElement("table");
    table.width = "100%";
    table.style.fontSize = "14px";

    popup.appendChild(table);

    var tbody = document.createElement("tbody");

    table.appendChild(tbody);

    var tr1 = document.createElement("tr");

    tbody.appendChild(tr1);

    var th = document.createElement("th");
    th.innerHTML = "Info";
    th.style.backgroundColor = "#345d8c";
    th.style.color = "#fff";
    th.style.borderTopLeftRadius = "8px";
    th.style.borderTopRightRadius = "8px";
    th.colSpan = "2";
    th.style.padding = "5px";

    tr1.appendChild(th);

    var tr2 = document.createElement("tr");

    tbody.appendChild(tr2);

    var td1_1 = document.createElement("td");
    td1_1.colSpan = "2";
    td1_1.style.padding = "5px";
    td1_1.style.paddingTop = "15px";
    td1_1.style.paddingBottom = "15px";
    td1_1.align = "center";
    td1_1.innerHTML = msg;
    td1_1.style.lineHeight = "120%";
    td1_1.style.fontSize = "14px";

    tr2.appendChild(td1_1);

    var tr3 = document.createElement("tr");

    tbody.appendChild(tr3);

    var td2_2 = document.createElement("td");
    td2_2.align = "center";
    td2_2.style.padding = "10px";
    td2_2.colSpan = "2";

    tr3.appendChild(td2_2);

    var btnYes = document.createElement("button");
    btnYes.className = "blue";
    btnYes.innerHTML = "OK";
    btnYes.style.width = "50px";
    btnYes.style.cursor = "pointer";
    btnYes.style.fontSize = "14px";
    btnYes.style.minHeight = "30px";
    btnYes.setAttribute("act", action);

    td2_2.appendChild(btnYes);

    btnYes.onmousedown = function () {

      if(this.getAttribute("act") != null){

        eval(this.getAttribute("act"));

      }

      if (__$("popup")) {

        document.body.removeChild(__$("popup"));

      }

      if (__$("shield")) {

        document.body.removeChild(__$("shield"));

      }

    }

  }


</script>
