<style type="text/css">
   table td {
      padding: 1em;
   }
</style>
<div id="main" >
  <div id="button-container">
      <div class="left" style="width:90%; text-align:center">
              <h1>Change password for <%= @user.username %></h1>

              <table style="margin: auto; font-size: 12px; border: none; width: 80%; margin-top: 5%;">
                    <tr>
                          <td>New Password</td>
                          <td>
                            <input type="password"  class="col-md-6 " name="user[new_password]" id="user_new_password" value="" class="input_cell"/ required="required" onblur="passwordLength()">
                          </td>
                    </tr>
                    <tr>
                        <td>Confirm Password</td>
                        <td>
                          <input type="password" helpText="Confirm Password &lt;i style=&#39;color: red&#39;&gt;*&lt;/i&gt;" class="col-md-6 " name="user[confirm_password]" id="user_confirm_password" value="" required="required" class="input_cell" onblur=""/>
                        </td>
                    </tr>

                    <tr>
                      <td colspan="2" style="text-align: center">
                          <button class="btn btn-success" onclick="submitPasswordChange()"> Update password</button>
                      </td>
                    </tr>
              </table>
      </div>
  </div>
</div>
<script>

    function __$(id) {
        return document.getElementById(id);

    }


    var invalid;

    function passwordLength(){
              var password = __$("user_new_password").value.trim();
              if(password.length != 0 && password.length < 6 ){
                    invalid = false;
                     
                    alert("The password length is less than 6 characters");
                    
              }else{
                    invalid = true;
              }
    }


    function comfirmPassword(){
                    var new_password = __$("user_new_password").value.trim();
                    var confirm_password = __$("user_confirm_password").value.trim();


                    if(new_password == confirm_password){
                        return true;
                    }else{
                      alert("Passwords not matching");
                      return false;
                      
                    }
    }

    function submitPasswordChange(){
        if (comfirmPassword()) {
            window.location = "/update_password?user_id=<%=params[:id]%>&user[new_password]="+__$("user_new_password").value.trim()
        }else{
            __$("user_confirm_password").focus();
        }
    }

</script>