<style>
    img {
        margin-right: 8px;
    }
    #user_table{
        border-collapse: collapse;
    }
    #user_table tr:nth-child(even) {
        background: #f8fbfd;
    }
    #user_table th{
        color: #ffffff;
        background: #1a2732;
        padding-left: 2%;
        font-size: 1.1em !important;
    }
    #user_table td{
        border: 1px solid black;
        color:#1a2732;
        padding-left: 2%;
    }
</style>

<table width="100%" id="user_table">
  <tr>
    <th>Name</th>
    <th>Username</th>
    <th> Role</th>
    <th>Status</th>
    <th>Action</th>
  </tr>
    <% @users.each do |user|%>
    <tr>
           <td><%= user.first_name%> <%= user.last_name%></td>
           <td><%= user.username%></td>
           <td><%= user.role%></td>
           <%if user.active%>
                <td><i class="fa fa-check"></i></td>
                <td><button class="btn btn-danger">Block</button></td>
           <%else%>
                <td><i class="fa fa-ban"></i></td>
                <td><button class="btn btn-primary">Unblock</button></td>
           <%end%>
    </tr>
    <%end%>
  
 
</table>

<script>
    $(document).ready(function(){
         $('#user_table').dataTable();
    });

</script>
