<style>
  .logo{
      padding: 0px;margin:0px;float: left;
      height: 87px;margin-top: 2px;
  }
</style>
<div id="header">
  <div class="container" style="width: 100%;">
    <div class="row">
      <a class="col-xs-5 " href="<%= root_url %>" style=" padding-right: 0px;height: 100px;"
      onclick = "window.parent.location = '/'">
        <h3>Electronic Death Registration System<h5><b>eDRS</b></h5></h3>
      </a>

      <div class="col-xs-7 pull-left">

        <div class="col-xs-4 avatar pull-right">
          <a href="<%= "users/login" %>">
            <div class="mask pull-right"></div>
            <%= image_tag('coa.png') %>
          </a>

          <% if @current_user.blank? %>
              <strong>Welcome!</strong>
              <a>Please login below</a>
          <% else %>
              <span><%= @current_user.username%>@NRB HQ</span>
              <a href="/login" ><u>Logout</u></a>
        <% end %>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>

<div id="main-menu" class="small">
  <div class="container">
    <div class="row">
    </div>
  </div>
</div>
