<table id="summary">
              <tr>
                <th colspan="9" >Section-2: Medical Certificate of Death and Cause of Death (FOR HEALTH FACILITY DEATH ONLY)</th>
              </tr>
              <tr>
                  <td rowspan="7" style="background-color:#dbdada;">1</td>
                  <td><b>DEN </b>: <font id="den"><%= @person.den %></font></td>
                  <td colspan="3"><b>Cause of Death </b></td>
                  <td colspan="3"><b>Approximate interval between onset and death</b></td>
              </tr>
              <tr>
                  <td rowspan="4" style="width:20%">
                      <b>Part I</b><br/>
                      Disease or condition directly leading to death<br/>
                      <b>Antecedent cause</b><br/>
                      Morbid conditions, if any, giving rise to the above cause, stating the underlying condition last
                  </td>
                  <td colspan="3">(a) <font id="cause_of_death_1"></font><br/>Due to (or as a consequence of)</td>
                  <td colspan="3"></td>
              </tr>
              <tr>   
                  <td colspan="3">(b) <font id="cause_of_death_2"></font><br/>Due to (or as a consequence of)</td>
                  <td colspan="3"></td>
              </tr>
              <tr>   
                  <td colspan="3">(c) <font id="cause_of_death_3"></font><br/>Due to (or as a consequence of)</td>
                  <td colspan="3"></td>
              </tr>
              <tr>   
                  <td colspan="3">(d) <font id="cause_of_death_4"></font><br/>Due to (or as a consequence of)</td>
                  <td colspan="3"></td>
              </tr>

              <tr>
                  <td><b>Part II</b> Other significant conditions contributing to the death, but not related to the disease or condition causing it</td>
                  <td id="other_cause_of_death" colspan="3"></td>
                  <td colspan="3"></td>
              </tr>
              <tr>
                  <td colspan="8" >
                    <font style="font-size:11px">This does not mean the mode of dying, e.g heart failure, 
                    respiratory failure. It means the disease, injury, or complication that caused death
                    </font>
                  </td>
             </tr>

             <tr>
               <td rowspan="2">2</td>
               <td rowspan="2">Manner of death</td>
               <td>Natural</td>
               <td>Accident</td>
               <td>Homicide</td>
               <td>Suicide</td>
               <td colspan="2">Pending Investigation</td>
             </tr>
             <tr>
               <td>Could not be determined</td>
               <td>Other</td>
               <td>Specify</td>
               <td colspan="4"></td>
            </tr>
            <tr>
                <td rowspan="2" style="background-color:#dbdada;">3</td>
                <td rowspan="2">If accidental death, how did it occur:</td>
                <td>Motor Vehicle(driver)</td>
                <td colspan="2">Motor vehivle (passenger)</td>
                <td colspan="3">Motor vehicle (pedestrian)</td>
            </tr>
            <tr>
                <td>Drowning</td>
                <td>Other</td>
                <td>Specifiy</td>
                <td colspan="3"></td>
            </tr>

            <tr>
                <td rowspan="3">4</td>
                <td colspan="7">I certify that to the best of my knowledge and belief, the above named peron died on the date and fromethr cause of death stated herein</td>
            </tr>
            <tr>
              <td>Date</td>
              <td></td>
              <td>Name</td>
              <td colspan="4"></td>
            </tr>
            <tr>
                <td>Designation of the medical certifier</td>
                <td>Physician</td>
                <td>Clinical Officer</td>
                <td>Medical assistant</td>
                <td>Other</td>
                <td>Specify</td>
                <td></td>
            </tr>
      </table>