
<style type="text/css">
    ${demo.css}
		</style>

		<script type="text/javascript">

    
</script>

<script src="/assets/highCharts/highcharts.js"></script>
<script src="/assets/highCharts/exporting.js"></script>

<div id="chart-container" style="width: 98%; height: 300px; margin: 0 auto"></div>
<script type="text/javascript">

    var district = ""
    var title = ""
    function loadChart(){
          $.getJSON('/dashbord_data',function(data){
                  loadTable(data);
                  if (district.length > 0) {
                    data = data["districts"][district]
                  }
                  $(function () {
                    $('#chart-container').highcharts({
                        title: {
                            text: (title.length > 0 ? title : 'National Statistics <%= Date.today.year %>'),
                            x: -20 //center
                        },
                        subtitle: {
                            text: '',
                            x: -20
                        },
                        xAxis: {
                            categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun',
                                'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
                        },
                        yAxis: {
                            allowDecimals: false,
                            min: 0,
                            title: {
                                text: 'Number of cases'
                            },
                            plotLines: [{
                                value: 0,
                                width: 1,
                                color: '#808080'
                            }]
                        },
                        credits: {
                          enabled: false
                        },
                        tooltip: {
                            valueSuffix: ''
                        },
                        exporting: {
                          enabled: false
                        },
                        legend: {
                          enabled: false
                        },
                        series: [{
                            name: 'Ever Reported (DC)',
                            data: data["year_registered"],
                            color: "#1e1c1c"
                        }, {
                            name: 'Ever Printed (HQ)',
                             data: data["year_printed"],
                             color: "#368e59"
                        }]
                    });
                });  
            });

    }
    $(document).ready(function(){
         loadChart();
         setInterval(function(){
                 loadChart();
         },5000)
        
    });
</script>

