<script src="/assets/coords.js"></script>
<script src="/assets/districts.js"></script>
<script src="/assets/sites_by_zones.js"></script>
<script src="/assets/zones.js"></script>
<script src="/assets/district_offsets.js"></script>
<style>

</style>

<table width="100%" border="0" style="border: 1px solid #ccc;background: white;">
  <tr>
    <td rowspan="2" style="width: 32%;">
      <div id="c_map" style="background: #f8f8ff;width: 100%; height: 600px; text-align: center; float: left;  border: 1px solid #ccc;">
        <object id="map" type="image/svg+xml" data="/assets/Malawi.svg" style="height: 100%; width: 100%;"></object>
      </div>
    </td>
    <td colspan="2" style="padding-left: 5%">
      <div id="cell0_0" style="width: 95%; height: 255px; text-align: center; border: 1px solid #ccc;">

      </div>
    </td>
  </tr>
  <tr style="border-top: 1px solid gray">

    <td colspan="2" style="height: 60%; width: 100%;">
      <div id="cell1_1" style="height: 100%; text-align: center; border: 1px solid #ccc;">
        <table class="table table-condensed  table-striped stat" >
          <tr class="table-row">
              <td colspan="2" class="table-cell" style="padding: 5px;background: grey;color: black;"><b><span id="district_label"></span> Statistics</b></td>
          </tr>
          <tr class="table-row">
            <td class="table-cell" style="padding: 5px; border: 1px solid #d3d3d3;background: #808080; color: black;"><b>State</b></td>
            <td class="table-cell" style="padding: 5px; border: 1px solid #d3d3d3; background: #808080; color: black;"><b>Count</b></td>
          </tr>
          <tr class="table-row">
            <td class="table-cell" style="padding: 5px; border: 1px solid #d3d3d3">Newly Received (HQ)</td>
            <td class="table-cell" style="padding: 5px; border: 1px solid #d3d3d3" id="dc_approved">-</td>
          </tr>
          <tr class="table-row">
            <td class="table-cell" style="padding: 5px; border: 1px solid #d3d3d3">Print-Que (HQ)</td>
            <td class="table-cell" style="padding: 5px; border: 1px solid #d3d3d3" id="hq_print">-</td>
          </tr>

          <tr class="table-row">
            <td class="table-cell" style="padding: 5px; border: 1px solid #d3d3d3">Re-Print Que (HQ)</td>
            <td class="table-cell" style="padding: 5px; border: 1px solid #d3d3d3" id="hq_reprint">-</td>
          </tr>
          <tr class="table-row">
            <td class="table-cell" style="padding: 5px; border: 1px solid #d3d3d3">Suspected Duplicate (HQ)</td>
            <td class="table-cell" style="padding: 5px; border: 1px solid #d3d3d3" id="hq_duplicate">-</td>
          </tr>
          <tr class="table-row">
            <td class="table-cell" style="padding: 5px; border: 1px solid #d3d3d3">Incomplete Records (HQ)</td>
            <td class="table-cell" style="padding: 5px; border: 1px solid #d3d3d3" id="hq_incomplete">-</td>
          </tr>
          <tr class="table-row">
            <td class="table-cell" style="padding: 5px; border: 1px solid #d3d3d3">Printed (HQ)</td>
            <td class="table-cell" style="padding: 5px; border: 1px solid #d3d3d3" id="hq_printed">-</td>
          </tr>
          <tr class="table-row">
            <td class="table-cell" style="padding: 5px; border: 1px solid #d3d3d3">Printed and Dispatched</td>
            <td class="table-cell" style="padding: 5px; border: 1px solid #d3d3d3" id="hq_dispatched">-</td>
          </tr>
        </table>
      </div>
    </td>
  </tr>
</table>

<script>

    'use strict'

    var refPoints = [-9.331537, -17.158189, 32.674051, 35.969950];
    var offsets = [10, 295, 10, 710];
    var limits = [305, 720];
    var previous;

    function __$(id) {
        return document.getElementById(id);
    }

    function latLon2Coord(lat, lon) {

        var x, y;

        x = ((offsets[1] - offsets[0]) * ((Math.abs(lon) - Math.abs(refPoints[2])) / (Math.abs(refPoints[3]) - Math.abs(refPoints[2])))) // + offsets[0];

        y = ((offsets[3] - offsets[2]) * ((Math.abs(lat) - Math.abs(refPoints[0])) / (Math.abs(refPoints[1]) - Math.abs(refPoints[0])))) // + offsets[2];

        return [x, y]

    }
    var elements = ["chitipa", "karonga", "rumphi", "mzimba", "nkhata_bay", "nkhotakota", "salima", "kasungu", "dedza",
        "lilongwe", "ntchisi", "ntcheu", "mchinji", "dowa", "balaka", "zomba", "machinga", "blantyre", "machinga",
        "chiradzulu", "chikwawa", "nsanje", "neno", "mwanza", "phalombe", "mulanje", "likoma", "thyolo", "mangochi"];

    function setDefaults() {

        var svg = __$("map").contentDocument;

        if (svg == null) {

            setTimeout("setDefaults()", 200);

            return;

        }


        for (var i = 0; i < elements.length; i++) {

            if (svg.getElementById(elements[i])) {
                svg.getElementById(elements[i]).setAttribute("style", "cursor:pointer;fill:#ffffff;stroke:#6e6e6e;stroke-width:0.40000001000000002;fill-opacity:1");

                svg.getElementById(elements[i]).onmousedown = function () {

                    for (var i = 0; i < elements.length; i++) {
                        if (svg.getElementById(elements[i])) {
                            svg.getElementById(elements[i]).setAttribute("style", "cursor:pointer;fill:#ffffff;stroke:#6e6e6e;stroke-width:0.40000001000000002;fill-opacity:1");
                        }
                    }
                    this.setAttribute("style", "cursor:pointer;fill:#ffcccc;stroke:#6e6e6e;stroke-width:0.40000001000000002;fill-opacity:1");

                }

                svg.getElementById(elements[i]).onclick = function () {

                    drawBorder(this.id);

                }

            }
        }
    }
        // loadSites();


    function insertSite(x, y, color, id) {
        var doc = __$("map").contentDocument;

        if (!doc) {

            setTimeout(function () {

                insertSite(x, y, color, id);

            }, 1000);

            return;

        }

        var mw = doc.getElementById("malawi");

        if (!mw) {

            setTimeout(function () {

                insertSite(x, y, color, id);

            }, 1000);

            return;

        }

        var circle = document.createElementNS("http://www.w3.org/2000/svg", "circle");

        circle.setAttribute("cx", x);

        circle.setAttribute("cy", y);

        circle.setAttribute("r", 2);

        circle.setAttribute("id", id);

        circle.setAttribute("fill", color);

        circle.setAttribute("stroke", "#3465a4");

        mw.appendChild(circle);
    }

    function insertSiteByOffset(x, y, color, id, district) {

        if (!__$("district")) {

            setTimeout(function () {

                insertSiteByOffset(x, y, color, id, district);

            }, 1000);

            return;

        }

        var doc = __$("district").contentDocument;

        if (!doc) {

            setTimeout(function () {

                insertSiteByOffset(x, y, color, id, district);

            }, 1000);

            return;

        }

        var mw = doc.getElementById(district);

        if (!mw) {

            setTimeout(function () {

                insertSiteByOffset(x, y, color, id, district);

            }, 1000);

            return;

        }

        var target = districtOffsets[district];

        var circle = document.createElementNS("http://www.w3.org/2000/svg", "circle");

        circle.setAttribute("cx", (x - target.x));

        circle.setAttribute("cy", (y - target.y));

        circle.setAttribute("r", 2);

        circle.setAttribute("id", id);

        circle.setAttribute("fill", color);

        circle.setAttribute("stroke", "#3465a4");

        mw.appendChild(circle);
    }

    function insertZoneSiteByOffset(x, y, color, id, district) {

        if (!__$("zone")) {

            setTimeout(function () {

                insertZoneSiteByOffset(x, y, color, id, district);

            }, 1000);

            return;

        }

        var doc = __$("zone").contentDocument;

        if (!doc) {

            setTimeout(function () {

                insertZoneSiteByOffset(x, y, color, id, district);

            }, 1000);

            return;

        }

        var mw = doc.getElementById(district);

        if (!mw) {

            setTimeout(function () {

                insertZoneSiteByOffset(x, y, color, id, district);

            }, 1000);

            return;

        }

        var target = districtOffsets[district];

        var circle = document.createElementNS("http://www.w3.org/2000/svg", "circle");

        circle.setAttribute("cx", (x - target.x));

        circle.setAttribute("cy", (y - target.y));

        circle.setAttribute("r", 2);

        circle.setAttribute("id", id);

        circle.setAttribute("fill", color);

        circle.setAttribute("stroke", "#3465a4");

        mw.appendChild(circle);
    }

    function loadSites() {

        for (var i = 0; i < sites.length; i++) {

            var result = latLon2Coord(sites[i][0], sites[i][1])

            // var colors = ["rgba(255,0,0,0.9)", "rgba(0,200,0,0.9)", "rgba(0,0,200,0.9)"];

            var colors = ["rgba(52,101,164,0.9)", "rgba(0,200,0,0.9)", "rgba(0,0,200,0.9)"];

            var pos = Math.round((Math.random() * 10)) % 3;

            insertSite(result[0], result[1], colors[pos], 'site' + i);

        }

    }

    var uCoords = {};

    function getCoords() {

        var svg = __$("map").contentDocument;

        var elements = ["chitipa", "karonga", "rumphi", "mzimba", "nkhata_bay", "nkhotakota", "salima", "kasungu", "dedza",
            "lilongwe", "ntchisi", "ntcheu", "mchinji", "dowa", "balaka", "zomba", "machinga", "blantyre", "machinga",
            "chiradzulu", "chikwawa", "nsanje", "neno", "mwanza", "phalombe", "mulanje", "likoma", "thyolo", "mangochi"];

        for (var i = 0; i < elements.length; i++) {

            if (svg.getElementById(elements[i])) {

                var element = svg.getElementById(elements[i]);

                var district = {};

                for (var j = 0; j < element.children.length; j++) {

                    if (element.children[j].tagName.match(/desc/i)) {

                        for (var k = 0; k < element.children[j].children.length; k++) {

                            district[element.children[j].children[k].tagName.replace(/namespace\:/i, "")] = element.children[j].children[k].innerHTML;

                        }

                    }

                }

                uCoords[elements[i]] = district;

            }
        }

    }

    function loadDistricts() {

        var elements = ["chitipa", "karonga", "rumphi", "mzimba", "nkhata_bay", "nkhotakota", "salima", "kasungu", "dedza",
            "lilongwe", "ntchisi", "ntcheu", "mchinji", "dowa", "balaka", "zomba", "machinga", "blantyre", "machinga",
            "chiradzulu", "chikwawa", "nsanje", "neno", "mwanza", "phalombe", "mulanje", "likoma", "thyolo", "mangochi"];

        for (var i = 0; i < elements.length; i++) {

            var district = districts[elements[i]];

            if (!district)
                continue;

            var result = latLon2Coord(district["lat"], district["lon"])

            var colors = ["rgba(255,0,0,0.9)", "rgba(0,200,0,0.9)", "rgba(0,0,200,0.9)"];

            var pos = Math.round((Math.random() * 10)) % 3;

            insertSite(result[0], result[1], colors[0], 0);

        }

    }

    function drawBorders() {

        var svg = __$("map").contentDocument;

        var elements = ["chitipa", "karonga", "rumphi", "mzimba", "nkhata_bay", "nkhotakota", "salima", "kasungu", "dedza",
            "lilongwe", "ntchisi", "ntcheu", "mchinji", "dowa", "balaka", "zomba", "machinga", "blantyre", "machinga",
            "chiradzulu", "chikwawa", "nsanje", "neno", "mwanza", "phalombe", "mulanje", "likoma", "thyolo", "mangochi"];

        for (var i = 0; i < elements.length; i++) {

            var element = svg.getElementById(elements[i]).getBBox();

            var rect = document.createElementNS("http://www.w3.org/2000/svg", 'rect');
            rect.setAttributeNS(null, 'x', element.x);
            rect.setAttributeNS(null, 'y', element.y);
            rect.setAttributeNS(null, 'height', element.height);
            rect.setAttributeNS(null, 'width', element.width);
            rect.setAttributeNS(null, 'stroke', 'red');
            rect.setAttributeNS(null, 'fill', 'none');
            rect.setAttributeNS(null, 'id', 'rect' + elements[i]);
            svg.getElementById("malawi").appendChild(rect);

        }
    }

    function drawBorder(district) {

        //return;

        var names = {
            "chitipa": "Chitipa",
            "karonga": 'Karonga',
            "rumphi": 'Rumphi',
            "mzimba": "Mzimba",
            "nkhata_bay": "nkhata_bay",
            "nkhotakota": "Nkhotakota",
            "salima": "Salima",
            "kasungu": "Kasungu",
            "dedza": "Dedza",
            "lilongwe": "Lilongwe",
            "ntchisi": "Ntchisi",
            "ntcheu": "Ntcheu",
            "mchinji": "Mchinji",
            "dowa": "Dowa",
            "balaka": "Balaka",
            "zomba": "Zomba",
            "machinga": "Machinga",
            "blantyre": "Blantyre",
            "chiradzulu": "Chiradzulu",
            "chikwawa": "Chikwawa",
            "nsanje": "Nsanje",
            "neno": "Neno",
            "mwanza": "Mwanza",
            "phalombe": "Phalombe",
            "mulanje": "Mulanje",
            "likoma": "Likoma",
            "thyolo": "Thyolo",
            "mangochi": "Mangochi"
        };

        var svg = __$("map").contentDocument;

        if (!svg) {

            setTimeout(function () {

                drawBorder(district);

            }, 500);

            return;

        }

        if (svg.getElementById('rect' + district)) {

            unloadDistrictSites(district);

            svg.getElementById("malawi").removeChild(svg.getElementById('rect' + district));

        }

        var element = svg.getElementById(district).getBBox();

        var rect = document.createElementNS("http://www.w3.org/2000/svg", 'rect');
        rect.setAttributeNS(null, 'x', element.x);
        rect.setAttributeNS(null, 'y', element.y);
        rect.setAttributeNS(null, 'height', element.height);
        rect.setAttributeNS(null, 'width', element.width);
        rect.setAttribute('stroke', 'none');     //'rgba(128,128,128,0.5)');
        rect.setAttribute('fill', 'none');
        rect.setAttribute('id', 'rect' + district);
        svg.getElementById("malawi").appendChild(rect);


        if (previous != undefined) {
            unloadDistrictSites(previous);
        }

        previous = district;

        //loadDistrictSites(district);

        loadCharts("cell0_0", district);

    }

    function loadCharts(id, district){
        __$(id).innerHTML = "<span style='color: darkslategray;width: 100%;text-align: center;'>Loading ...</span>";
        var names = {
            "chitipa": "Chitipa",
            "karonga": 'Karonga',
            "rumphi": 'Rumphi',
            "mzimba": "Mzimba",
            "nkhata_bay": "Nkhata_bay",
            "nkhotakota": "Nkhotakota",
            "salima": "Salima",
            "kasungu": "Kasungu",
            "dedza": "Dedza",
            "lilongwe": "Lilongwe",
            "ntchisi": "Ntchisi",
            "ntcheu": "Ntcheu",
            "mchinji": "Mchinji",
            "dowa": "Dowa",
            "balaka": "Balaka",
            "zomba": "Zomba",
            "machinga": "Machinga",
            "blantyre": "Blantyre",
            "chiradzulu": "Chiradzulu",
            "chikwawa": "Chikwawa",
            "nsanje": "Nsanje",
            "neno": "Neno",
            "mwanza": "Mwanza",
            "phalombe": "Phalombe",
            "mulanje": "Mulanje",
            "likoma": "Likoma",
            "thyolo": "Thyolo",
            "mangochi": "Mangochi"
        };

        district = (names[district] || '').gsub(/\_/, "-");
        jQuery.ajax(
                {
                    url: "/by_reporting_month_and_district?district=" + district,
                    success: function(result){
                        result = JSON.parse(result);
                        graph(id, district, result['graph_categories'], result['graph_data']);
                    },
                    error: function(e){
                        alert("Failed to load graph!!")
                    }
                }
        )

        jQuery.ajax(
                {
                    url: "/by_record_status?district=" + district,
                    success: function(result){
                        result = JSON.parse(result);
                        __$('district_label').innerHTML = district || "National"
                        for(var id in result){
                            __$(id).innerHTML = result[id]
                        }
                    },
                    error: function(e){
                        alert("Failed to load graph!!")
                    }
                }
        )
    }


    function graph(id, district, graph_categories, graph_data){

        $(function () {
            Highcharts.chart(id, {
                chart: {
                    type: 'column',
                    height: null,margin: null
                },
                title: {
                    text: ((district || "National") + ' Death Registrations - Past 12 months')
                },
                legend: {
                    enabled: false
                },
                subtitle: {
                    text: ''
                },
                xAxis: {
                    categories: graph_categories,
                    crosshair: true
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: 'Number of registrations'
                    }
                },
                credits: {
                    enabled: false
                },

                tooltip: {
                    headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                    pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                            '<td style="padding:0"><b>{point.y:.0f}</b></td></tr>',
                    footerFormat: '</table>',
                    shared: true,
                    useHTML: true
                },
                plotOptions: {
                    column: {
                        pointPadding: 0.2,
                        borderWidth: 0
                    }
                },
                series: [{
                    name: 'Registrations',
                    data: graph_data
                }]
            });
        });
    }
    function loadDistrictSitesByOffsets(district) {

        var target = sites_by_zones[district];

        for (var i = 0; i < target.length; i++) {

            var result = latLon2Coord(target[i]["latitude"], target[i]["longitude"])

            var colors = ["rgba(52,101,164,0.9)", "rgba(0,200,0,0.9)", "rgba(0,0,200,0.9)"];

            var pos = 0;

            insertSiteByOffset(result[0], result[1], colors[pos], district + '_' + target[i]["facility_id"], district);

        }

    }

    function loadZoneSitesByOffsets(district) {
        var zone, region;

        switch (district) {
            case "zone_northern":
                zone = "Northern";
                region = "North";
                break;
            case "zone_c_east":
                region = "Central";
                zone = "Central East";
                break;
            case "zone_c_west":
                region = "Central";
                zone = "Central West";
                break;
            case "zone_s_east":
                region = "South";
                zone = "South East";
                break;
            case "zone_s_west":
                region = "South";
                zone = "South West";
                break;
        }

        if (zone == undefined || region == undefined) {

            setTimeout(function () {

                loadZoneSitesByOffsets(district);

            }, 1000);

            return;
        }

        var zone_districts = Object.keys(zones[region][zone]);

        for (var s = 0; s < zone_districts.length; s++) {

            var target = sites_by_zones[zone_districts[s]];

            for (var i = 0; i < target.length; i++) {

                var result = latLon2Coord(target[i]["latitude"], target[i]["longitude"])

                // var colors = ["rgba(255,0,0,0.9)", "rgba(0,200,0,0.9)", "rgba(0,0,200,0.9)"];

                var colors = ["rgba(52,101,164,0.9)", "rgba(0,200,0,0.9)", "rgba(0,0,200,0.9)"];

                var pos = 0;    // Math.round((Math.random() * 10)) % 3;

                insertZoneSiteByOffset(result[0], result[1], colors[pos], district + '_' + target[i]["facility_id"], district);

            }

        }

        if (__$("zone_label")) {

            __$("zone_label").innerHTML = zone + " Zone";

        }

    }

    function loadDistrictSites(district) {

        var target = sites_by_zones[district];

        for (var i = 0; i < target.length; i++) {

            var result = latLon2Coord(target[i]["latitude"], target[i]["longitude"])

            // var colors = ["rgba(255,0,0,0.9)", "rgba(0,200,0,0.9)", "rgba(0,0,200,0.9)"];

            var colors = ["rgba(52,101,164,0.9)", "rgba(0,200,0,0.9)", "rgba(0,0,200,0.9)"];

            var pos = 0;    // Math.round((Math.random() * 10)) % 3;

            insertSite(result[0], result[1], colors[pos], target[i]["facility_id"]);

        }

    }

    function unloadDistrictSites(district) {

        var target = sites_by_zones[district];

        var doc = __$("map").contentDocument;

        var mw = doc.getElementById("malawi");

        for (var i = 0; i < target.length; i++) {

            if (doc.getElementById(target[i]["facility_id"])) {

                mw.removeChild(doc.getElementById(target[i]["facility_id"]));

            }

        }

    }

    function getDistrictOffsets() {

        var svg = __$("map").contentDocument;

        var elements = ["chitipa", "karonga", "rumphi", "mzimba", "nkhata_bay", "nkhotakota", "salima", "kasungu", "dedza",
            "lilongwe", "ntchisi", "ntcheu", "mchinji", "dowa", "balaka", "zomba", "machinga", "blantyre", "machinga",
            "chiradzulu", "chikwawa", "nsanje", "neno", "mwanza", "phalombe", "mulanje", "likoma", "thyolo", "mangochi"];

        for (var i = 0; i < elements.length; i++) {

            var element = svg.getElementById(elements[i]).getBBox();

            districtOffsets[elements[i]] = {
                'x': element.x,
                'y': element.y,
                'height': element.height,
                'width': element.width
            }
        }

    }

    var mDistricts = ["chitipa", "karonga", "rumphi", "mzimba", "nkhata_bay", "nkhotakota", "salima", "kasungu", "dedza",
        "lilongwe", "ntchisi", "ntcheu", "mchinji", "dowa", "balaka", "zomba", "machinga", "blantyre", "machinga",
        "chiradzulu", "chikwawa", "nsanje", "neno", "mwanza", "phalombe", "mulanje", "likoma", "thyolo", "mangochi"];



    setDefaults();

    loadCharts("cell0_0", "")


</script>
