<script type="text/javascript">
	var dashboard_data = {};
</script>
<div class="row">     
      
<div class="col-lg-4">
  <div id="c_map" style="background: #f8f8ff;width: 100%; height: 600px; text-align: center; float: left;  border: 1px solid #ccc;">
    <object id="map" type="image/svg+xml" data="/assets/Malawi.svg" style="height: 100%; width: 100%;"></object>
  </div>
</div>

      
<div class="col-lg-8">

  <div class="row">
    <%= render :partial => 'statistics_chart'%>
  </div>

  <div class="row">
    <%= render :partial => 'statistics_table'%>
  </div>

</div>

</div>
<script type="text/javascript">
    var refPoints = [-9.331537, -17.158189, 32.674051, 35.969950];
    var offsets = [10, 295, 10, 710];
    var limits = [305, 720];
    var previous;
</script>
