<style type="text/css">
    #cases th, #cases td {
        width: 7% !important;
        text-align: center;
    }
</style>
<div id="main" >
	<table class="table table-striped table-advance table-hover" id="cases">
		<thead>
			<tr>
				<th>#</th>
				<th>Name</th>
				<th>Recorde Sampled</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr></tr>
		</tbody>
	</table>
</div>