<style>

    .btn-group .form-horizontal .btn[type="submit"] {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }
    .form-horizontal .form-group {
        margin-left: 10px;
        margin-right: 0;
    }

    @media screen and (min-width: 768px) {
        #adv-search, #adv-search2, #adv-search3{
            width: 150;
            margin: 5px auto;
        }
        .dropdown.dropdown-lg {
            position: static !important;
        }
        .dropdown.dropdown-lg .dropdown-menu {
            min-width: 350px;
        }
    }

    .radio {
        padding-left: 20px; margin: 25px;
        color: darkslategray}
    .radio label {
        display: inline-block;
        border-bottom: 1px dotted lightgray;
        position: relative;
        padding-left: 5px; }
    .radio label::before {
        content: "";
        display: inline-block;
        position: absolute;
        width: 17px;
        height: 17px;
        left: 0;
        margin-left: -20px;
        border: 1px solid #cccccc;
        border-radius: 50%;
        background-color: #fff;
        -webkit-transition: border 0.15s ease-in-out;
        -o-transition: border 0.15s ease-in-out;
        transition: border 0.15s ease-in-out; }
    .radio label::after {
        display: inline-block;
        position: absolute;
        content: " ";
        width: 11px;
        height: 11px;
        left: 3px;
        top: 3px;
        margin-left: -20px;
        border-radius: 50%;
        background-color: #555555;
        -webkit-transform: scale(0, 0);
        -ms-transform: scale(0, 0);
        -o-transform: scale(0, 0);
        transform: scale(0, 0);
        -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
        -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
        -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
        transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33); }
    .radio input[type="radio"] {
        opacity: 0; }
    .radio input[type="radio"]:focus + label::before {
        outline: thin dotted;
        outline: 5px auto -webkit-focus-ring-color;
        outline-offset: -2px; }
    .radio input[type="radio"]:checked + label::after {
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1); }
    .radio input[type="radio"]:disabled + label {
        opacity: 0.65; }
    .radio input[type="radio"]:disabled + label::before {
        cursor: not-allowed; }
    .radio.radio-inline {
        margin-top: 0; }

    .radio-primary input[type="radio"] + label::after {
        background-color: #428bca; }
    .radio-primary input[type="radio"]:checked + label::before {
        border-color: #428bca; }
    .radio-primary input[type="radio"]:checked + label::after {
        background-color: #428bca; }

    .custom{
        display: none;
        width: 80%;
    }

    .search-criteria-table td div{
       margin: 7px;
    }
    .search-criteria-table td {
        border: 1px solid white;
    }
    .search-criteria-table{
        border-top: 2px solid darkgoldenrod;
    }
    .panel{
        margin: 10px;
        background: #d3d3d3;
    }
    .panel .form-control{
        height: 30px;
        max-width: 350px;
        margin: auto;
    }

    input[type="checkbox"] {
        display: none;
    }
    label {
        cursor: pointer;
    }

    input[type='checkbox']  + label:before {
        border: 1px solid #7f83a2;
        content: "\00a0";
        display: inline-block;
        font: 20px/1em sans-serif;
        height: 20px;
        margin: 0 .25em 0 0;
        padding: 6;
        vertical-align: middle;
        width: 20px;
    }

    input[type="checkbox"]:checked + label:before {
        background: dodgerblue;
        color: white;
        content: "\2713";
        text-align: center;
    }
    input[type="checkbox"]:checked + label:after {
        font-weight: bold;
    }

    .panel table{
        display: none;
    }
    .panel table label{
        font-weight: normal !important;
    }
</style>
<table class="search-criteria-table" style="width: 99.5%;background: white;padding: 0px; margin:0px;">
    <tr>
      <td>
        <div id="barcode_radio"  class="radio radio-primary" onmousedown="showControls('barcode')">
          <input type="radio" name="radio" id="radio0">
          <label for="radio0">
            By Barcode
          </label>
        </div>
      </td>
      <td>
        <div id="den_radio"  class="radio radio-primary" onmousedown="showControls('den')">
          <input type="radio" name="radio" id="radio1">
          <label for="radio1">
            By Death Entry Number
          </label>
        </div>
      </td>
      <% if @current_user.role.downcase != 'coder' && @current_user.role.downcase !="coding unit supervisor"%>

        <td>
            <div id="drn_radio"  class="radio radio-primary" onmousedown="showControls('drn')">
              <input type="radio" name="radio" id="radio2">
              <label for="radio2">
                By Death Registration Number
              </label>
            </div>
          </td>
          <td>
            <div id="general_radio"  class="radio radio-primary" onmousedown="showControls('general_search')">
              <input type="radio" name="radio" id="radio21">
              <label for="radio21">
                General Search
              </label>
            </div>
          </td>
      <% end %>
    </tr>
</table>
<table class="table cst" style="background: ghostwhite;height: 97%;width: 99.5%">
    <tr class="" style="width: 100%">


    <script type="text/javascript">
        function checkBarcode(){
            var value = $("#barcode_person").val();
            if (value && value.match(/.+\$$/i) != null){
                value = value.substr(0,value.length -1);
                $("#barcode_person").val(value);
                setTimeout(function(){
                    $("#do_search").submit();
                },200);    
            }

        }
    </script>

    <td id = "input-td" class="" style="width: 99%; border: 1px solid gray">

           <div id="barcode" class="container custom">
            <form id="do_search" class="form-horizontal" role="form" action="/do_search">
              <div class="form-group"  style="margin: auto;margin-top: 100px;margin-bottom: 100px;width: 45%;">
                <label for="barcode" style="font-size: 1.15em">Scan Barcode</label>
                <input name="search_type" value="barcode" type="hidden" type="text" />
                <input name="barcode" id="barcode_person" class="form-control" type="text" onkeyup="checkBarcode()" />
                <button type="submit" class="btn btn-primary pull-right" style="margin-top: 15px;"><span class="fa fa-search" aria-hidden="true"></span></button>
              </div>
            </form>
          </div>

          <div id="den" class="container custom">
            <form class="form-horizontal" role="form" action="/do_search">
              <div class="form-group"  style="margin: auto;margin-top: 100px;margin-bottom: 100px;width: 45%;">
                <label for="den"  style="font-size: 1.15em">Enter Death Entry Number </label>
                <input name="search_type" value="den" type="hidden" type="text" />
                <input name="den" id="den" class="form-control" type="text" />
                <button type="submit" class="btn btn-primary pull-right" style="margin-top: 15px;"><span class="fa fa-search" aria-hidden="true"></span></button>
              </div>
            </form>
          </div>

          <div id="drn" class="container custom">
            <form class="form-horizontal" role="form" action="/do_search">
              <div class="form-group" style="margin: auto;margin-top: 100px;margin-bottom: 100px;width: 45%;">
                <input name="search_type" value="drn" type="hidden" type="text" />
                <label for="drn"  style="font-size: 1.15em">Enter Death Registration Number </label>
                <input name="drn" id="drn" class="form-control" type="text" />
                <button type="submit" class="btn btn-primary pull-right" style="margin-top: 15px;"><span class="fa fa-search"  aria-hidden="true"></span></button>
              </div>

            </form>
          </div>


          <div class="container custom" id="general_search" style="border-radius: 40px;">
            <form role="form" action="/do_search">
              <input name="search_type" value="general_search" type="hidden" type="text" />
              <table class="table" style="background: ghostwhite;width: 100%; margin: auto;">
                <tr>
                  <td style="width: 99%;border: 1px solid gray">

                      <div class="panel panel-default" style="border: 1px solid gray">
                        <div class="panel-heading ">
                          <input type="checkbox" name="details_of_deceased" id="deceased" onchange="enableControls('details_of_deceased')">
                          <label for="deceased">
                            By Personal Details of Deceased
                          </label>
                        </div>
                        <table id="details_of_deceased"  class="table table-condensed table-bordered">
                        <tr>
                            <td>
                              <div class="form-group">
                                <label for="first_name">First Name </label>
                                <input name="first_name" id="first_name" class="form-control" type="text" />
                              </div>
                            </td>
                            <td>
                              <div class="form-group">
                                <label for="last_name">Last Name </label>
                                <input name="last_name" id="last_name" class="form-control" type="text" />
                              </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                              <div class="form-group">
                                <label for="gender">Sex</label>
                                <select name="gender" id="gender" class="form-control">
                                  <option value=""></option>
                                  <option>Male</option>
                                  <option>Female</option>
                                </select>
                              </div>
                            </td>
                        </tr>
                    </table>
                </div>

                <div class="panel panel-default" style="border: 1px solid gray">
                  <div class="panel-heading ">
                    <input type="checkbox" name="home_address" id="home"  onchange="enableControls('home_address')">
                    <label for="home">
                      By Home Address
                    </label>
                  </div>
                    <table id="home_address"  class="table  table-condensed table-bordered" >

                      <tr>
                        <td style="width: 50%;">
                          <div class="form-group">
                            <label for="home_country">Home Country</label>
                            <select name="home_country" id="home_country" onchange="ajaxify('/districts', 'home_district', ['home_district', 'home_ta', 'home_village'])" class="form-control" type="text" >
                            </select>
                          </div>
                        </td>
                        <td style="width: 50%;">
                          <div class="form-group">
                            <label for="home_district">Home District</label>
                            <select name="home_district" id="home_district"
                                    onchange="ajaxify('/tas?district={home_district}', 'home_ta', ['home_ta', 'home_village'])" class="form-control conditional" type="text" >
                            </select>
                          </div>
                        </td>
                      </tr>

                      <tr>
                        <td>
                          <div class="form-group">
                            <label for="home_ta">Home TA</label>
                            <select name="home_ta" id="home_ta"
                                    onchange="ajaxify('/villages?ta={home_ta}&district={home_district}', 'home_village', ['home_village'])" class="form-control conditional" type="text">

                            </select>
                          </div>
                          </td>
                          <td>
                          <div class="form-group">
                            <label for="home_village">Home Village</label>
                            <select name="home_village" id="home_village" class="form-control conditional" type="text">

                            </select>
                          </div>
                        </td>
                      </tr>
                    </table>
                </div>

                <div class="panel panel-default" style="border: 1px solid gray">
                  <div class="panel-heading">
                    <input type="checkbox" name="mother" id="mother"  onchange="enableControls('mother_name')">
                    <label for="mother">
                      By Name of Mother
                    </label>
                  </div>

                  <table id="mother_name"  class="table  table-condensed table-bordered" >
                    <tr>
                      <td style="width: 50%;">
                        <div class="form-group">
                          <label for="mother_first_name">Mother First Name </label>
                          <input name="mother_first_name" id="mother_first_name" class="form-control" type="text" />
                        </div>
                      </td>
                      <td style="width: 50%;">
                        <div class="form-group">
                          <label for="mother_last_name">Mother Last Name </label>
                          <input name="mother_last_name" id="mother_last_name" class="form-control" type="text" />
                        </div>
                      </td>
                    </tr>
                  </table>
                </div>

                <div class="panel panel-default" style="border: 1px solid gray">
                  <div class="panel-heading">
                    <input type="checkbox" name="father" id="father"  onchange="enableControls('father_name')">
                    <label for="father">
                      By Name of Father
                    </label>
                  </div>

                  <table id="father_name"  class="table  table-condensed table-bordered" >
                    <tr>
                      <td style="width: 50%;">
                        <div class="form-group">
                          <label for="father_first_name">Father First Name </label>
                          <input name="father_first_name" id="father_first_name" class="form-control" type="text" />
                        </div>
                      </td>
                      <td style="width: 50%;">
                        <div class="form-group">
                          <label for="father_last_name">Father Last Name </label>
                          <input name="father_last_name" id="father_last_name" class="form-control" type="text" />
                        </div>
                      </td>
                    </tr>
                  </table>
                </div>

                <div class="panel panel-default" style="border: 1px solid gray">
                  <div class="panel-heading">
                    <input type="checkbox" name="informant" id="informant_name_input"  onchange="enableControls('informant_name')">
                    <label for="informant_name_input">
                      By Name of Informant
                    </label>
                  </div>

                  <table id="informant_name"  class="table  table-condensed table-bordered" >
                    <tr>
                      <td style="width: 50%;">
                        <div class="form-group">
                          <label for="informant_first_name">Informant First Name </label>
                          <input name="informant_first_name" id="informant_first_name" class="form-control" type="text" />
                        </div>
                      </td>
                      <td style="width: 50%;">
                        <div class="form-group">
                          <label for="informant_last_name">Informant Last Name </label>
                          <input name="informant_last_name" id="informant_last_name" class="form-control" type="text" />
                        </div>
                      </td>
                    </tr>
                  </table>
                </div>

                <div class="panel panel-default" style="border: 1px solid gray">
                    <div class="panel-heading">
                      <input type="checkbox" name="informant_address" id="informant_address_input"  onchange="enableControls('informant_address')">
                      <label for="informant_address_input">
                        By Informant Address
                      </label>
                    </div>

                    <table id="informant_address"  class="table  table-condensed table-bordered" >
                      <tr>
                        <td style="width: 50%;">
                          <div class="form-group">
                            <label for="informant_current_district">Informant Current District of Residence</label>
                            <select name="informant_current_district" id="informant_current_district"
                                    onchange="ajaxify('/tas?district={informant_current_district}', 'informant_current_ta', ['informant_current_ta', 'informant_current_village'])" class="form-control conditional" type="text" >
                            </select>
                          </div>
                        </td>
                        <td style="width: 50%;">
                          <div class="form-group">
                            <label for="informant_current_ta">Informant TA of Residence</label>
                            <select name="informant_current_ta" id="informant_current_ta"
                                    onchange="ajaxify('/villages?district={informant_current_district}&ta={informant_current_ta}', 'informant_current_village', ['informant_current_village'])" class="form-control conditional" type="text" >
                            </select>
                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td style="width: 50%;">
                          <div class="form-group">
                            <label for="informant_current_village">Informant Village of Residence</label>
                            <select name="informant_current_village" id="informant_current_village" class="form-control" type="text">
                            </select>
                          </div>
                        </td>
                        <td style="width: 50%;">
                        </td>
                      </tr>

                    </table>
                </div>

                  <div class="panel panel-default" style="border: 1px solid gray">
                    <div class="panel-heading">
                      <input type="checkbox" name="place_death" id="place_of_death_input"  onchange="enableControls('place_of_death')">
                      <label for="place_of_death_input">
                        By Place of Death
                      </label>
                    </div>

                    <table id="place_of_death"  class="table  table-condensed table-bordered" >
                      <tr>
                        <td style="width: 50%;">
                          <div class="form-group">
                            <label for="filter">Place of Death</label>
                            <select name="place_of_death" id="place" class="form-control">
                              <option value=""></option>
                              <option>Home</option>
                              <option>Hospital/Institution</option>
                              <option>Other</option>

                            </select>
                          </div>
                        </td>
                        <td style="width: 50%;">
                          <div class="form-group">
                            <label for="place_of_death_district">District of Death</label>
                            <input name="place_of_death_district" id="place_of_death_district" class="form-control" type="text" />
                          </div>
                        </td>
                      </tr>

                      <tr>
                        <td style="width: 50%;">
                          <div class="form-group">
                            <label for="place_of_death_ta">TA of Death</label>
                            <input name="place_of_death_ta" id="place_of_death_ta" class="form-control" type="text" />
                          </div>
                        </td>
                        <td style="width: 50%;">
                          <div class="form-group">
                            <label for="place_of_death_village">Village of Death</label>
                            <input name="place_of_death_village" id="place_of_death_village" class="form-control" type="text" />
                          </div>
                        </td>
                      </tr>

                      <tr>
                        <td style="width: 50%;">
                          <div class="form-group">
                            <label for="hospital_of_death">Hospital of Death</label>
                            <input name="hospital_of_death" id="hospital_of_death" class="form-control" type="text" />
                          </div>
                        </td>
                        <td style="width: 50%;">
                          <div class="form-group">
                            <label for="other_place_of_death">Other Place of Death</label>
                            <input name="other_place_of_death" id="other_place_of_death" class="form-control" type="text" />
                          </div>
                        </td>
                      </tr>
                    </table>
                  </div>
                  </td>
                </tr>
              </table>

              <button type="submit" class="btn btn-primary pull-right"
                style ="margin: 10px;"><span class="fa fa-search"  aria-hidden="true"></span></button>
            </form>
          </div>
    </td>
</tr>
</table>
<script>
  function showControls(id){
      $(".custom").hide();
      $("#" + id).show(); 
      var d = document.getElementById(id+"_radio");
      $(d).find("input").prop('checked', 'checked')
  }

  function __$(id){
    return document.getElementById(id);
  }

 function ajaxify(url, id, clear_arr){
      if (url.match(/{(.*?)}/)){
          url = url.replace(/{(.*?)}/, __$(url.match(/{(.*?)}/)[1]).value);
          if (url.match(/{(.*?)}/)){
              url = url.replace(/{(.*?)}/, __$(url.match(/{(.*?)}/)[1]).value);
          }
      }
      jQuery.ajax(
              {
                  url: url,
                  success: function(results){
                      results = JSON.parse(results);
                      for(var i = 0; i < clear_arr.length; i ++){
                        jQuery("#" + clear_arr[i]).val("");
                      }

                      var parent = document.getElementById(id);
                      jQuery(parent).empty();

                      for(var i = 0; i < results.length; i ++){
                        var option = document.createElement("option");
                          option.innerHTML = results[i];
                          parent.appendChild(option);
                      }

                  },
                  error: function(e){
                    alert("Something Went Wrong!");
                  }
              }
      )
  }

  ajaxify("/countries", 'home_country', ["home_district", "home_ta", "home_village"])
  ajaxify("/districts", 'informant_current_district', ["informant_current_district", "informant_current_ta", "informant_current_village"])

  var h = {
      "home_district" : ['home_country', 'Malawi'],
      "home_ta" : ['home_country', 'Malawi'],
      "home_village" : ['home_country', 'Malawi']
  }

  function checkConditions() {
      var conditionals = document.getElementsByClassName("conditional");
      for(var k = 0 in h){
          var node = document.getElementById(k);
          if(!node){continue};
          var parent = h[k][0];
          var value = h[k][1];
          if(document.getElementById(parent).value != value){
              node.setAttribute('disabled', true);
              jQuery(node).val("");
          }else{
              node.removeAttribute('disabled');
          }
      }
  }

  function enableControls(id){
      jQuery("#" + id + " input").val("");
      jQuery("#" + id + " select").val("");
      if(jQuery("#" + id).is(":visible")){
          jQuery("#" + id).hide();
      }else{
          jQuery("#" + id).show();
      }
  }

  var interval = setInterval("checkConditions()", 200);


  showControls('barcode',0);
  $("#barcode").click();

</script>
