<style>

    .dropdown.dropdown-lg .dropdown-menu {
        margin-top: -1px;
        padding: 6px 20px;
    }
    .input-group-btn .btn-group {
        display: flex !important;
    }
    .btn-group .btn {
        border-radius: 0;
        margin-left: -1px;
    }
    .btn-group .btn:last-child {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }
    .btn-group .form-horizontal .btn[type="submit"] {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }
    .form-horizontal .form-group {
        margin-left: 0;
        margin-right: 0;
    }
    .form-group .form-control:last-child {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }

    @media screen and (min-width: 768px) {
        #adv-search, #adv-search2, #adv-search3{
            width: 150;
            margin: 5px auto;
        }
        .dropdown.dropdown-lg {
            position: static !important;
        }
        .dropdown.dropdown-lg .dropdown-menu {
            min-width: 350px;
        }
    }

    .radio {
        padding-left: 20px; margin: 25px;
        color: darkslategray}
    .radio label {
        display: inline-block;
        border-bottom: 1px dotted lightgray;
        position: relative;
        padding-left: 5px; }
    .radio label::before {
        content: "";
        display: inline-block;
        position: absolute;
        width: 17px;
        height: 17px;
        left: 0;
        margin-left: -20px;
        border: 1px solid #cccccc;
        border-radius: 50%;
        background-color: #fff;
        -webkit-transition: border 0.15s ease-in-out;
        -o-transition: border 0.15s ease-in-out;
        transition: border 0.15s ease-in-out; }
    .radio label::after {
        display: inline-block;
        position: absolute;
        content: " ";
        width: 11px;
        height: 11px;
        left: 3px;
        top: 3px;
        margin-left: -20px;
        border-radius: 50%;
        background-color: #555555;
        -webkit-transform: scale(0, 0);
        -ms-transform: scale(0, 0);
        -o-transform: scale(0, 0);
        transform: scale(0, 0);
        -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
        -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
        -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
        transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33); }
    .radio input[type="radio"] {
        opacity: 0; }
    .radio input[type="radio"]:focus + label::before {
        outline: thin dotted;
        outline: 5px auto -webkit-focus-ring-color;
        outline-offset: -2px; }
    .radio input[type="radio"]:checked + label::after {
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1); }
    .radio input[type="radio"]:disabled + label {
        opacity: 0.65; }
    .radio input[type="radio"]:disabled + label::before {
        cursor: not-allowed; }
    .radio.radio-inline {
        margin-top: 0; }

    .radio-primary input[type="radio"] + label::after {
        background-color: #428bca; }
    .radio-primary input[type="radio"]:checked + label::before {
        border-color: #428bca; }
    .radio-primary input[type="radio"]:checked + label::after {
        background-color: #428bca; }

    .custom{
        display: none;
        width: 60%;
    }
</style>

<table class="table" style="background: white;height: 97%;width: 99%">
    <tr class="" style="width: 100%">
        <td class="" style="width: 30%;border: 1px solid gray">
          <div class="radio radio-primary" onmousedown="showControls('den')">
            <input type="radio" name="radio" id="radio">
            <label for="radio">
              By Death Entry Number
            </label>
          </div>

          <div class="radio radio-primary" onmousedown="showControls('drn')">
            <input type="radio" name="radio" id="radio0">
            <label for="radio0">
              By Death Registration Number
            </label>
          </div>

          <div class="radio radio-primary" onmousedown="showControls('details_of_deceased')">
            <input type="radio" name="radio" id="radio1">
            <label for="radio1">
              By Person Details
            </label>
          </div>
          <div class="radio radio-primary" onmousedown="showControls('')">
            <input type="radio" name="radio" id="radio2">
            <label for="radio2">
              By Home Address
            </label>
          </div>

          <div class="radio radio-primary" onmousedown="showControls('')">
            <input type="radio" name="radio" id="radio3">
            <label for="radio3">
              By Mother details
            </label>
          </div>

          <div class="radio radio-primary" onmousedown="showControls('')">
            <input type="radio" name="radio" id="radio4">
            <label for="radio4">
              By Father Details
            </label>
          </div>

          <div class="radio radio-primary" onmousedown="showControls('')">
            <input type="radio" name="radio" id="radio5">
            <label for="radio5">
              By Informant Address
            </label>
          </div>

          <div class="radio radio-primary" onmousedown="showControls('')">
            <input type="radio" name="radio" id="radio6">
            <label for="radio6">
              By Place of death
            </label>
          </div>
        </td>

        <td id = "input-td" class="" style="width: 70%; border: 1px solid gray">

          <div id="den" class="container custom">
            <form class="form-horizontal" role="form" action="/do_search">
              <div class="form-group">
                <label for="den">Enter Death Entry Number </label>
                <input name="search_type" value="den" type="hidden" type="text" />
                <input name="den" id="den" class="form-control" type="text" />
              </div>
              <button type="submit" class="btn btn-primary pull-right"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
            </form>
          </div>

          <div id="drn" class="container custom">
            <form class="form-horizontal" role="form" action="/do_search">
              <div class="form-group">
                <input name="search_type" value="drn" type="hidden" type="text" />
                <label for="drn">Enter Death Registration Number </label>
                <input name="drn" id="drn" class="form-control" type="text" />
              </div>
              <button type="submit" class="btn btn-primary pull-right"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
            </form>
          </div>


          <div class="container custom" id="details_of_deceased">
            <form class="form-horizontal" role="form" action="/do_search">
              <input name="search_type" value="details_of_deceased" type="hidden" type="text" />
              <div class="form-group">
                <label for="contain">First name </label>
                <input id="first_name" class="form-control" type="text" />
              </div>

              <div class="form-group">
                <label for="contain">Last name </label>
                <input id="last_name" class="form-control" type="text" />
              </div>

              <div class="form-group">
                <label for="filter">Gender</label>
                <select id="gender" class="form-control">
                  <option value="0"></option>
                  <option value="1">Male</option>
                  <option value="2">Female</option>
                </select>
              </div>

              <button type="submit" class="btn btn-primary pull-right"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
            </form>
        </div>


    </td>
</tr>
</table>
<script>
  function showControls(id){
      $(".custom").hide();
      $("#" + id).show();
  }
</script>
