<style>

    .dropdown.dropdown-lg .dropdown-menu {
        margin-top: -1px;
        padding: 6px 20px;
    }
    .input-group-btn .btn-group {
        display: flex !important;
    }
    .btn-group .btn {
        border-radius: 0;
        margin-left: -1px;
    }
    .btn-group .btn:last-child {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }
    .btn-group .form-horizontal .btn[type="submit"] {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }
    .form-horizontal .form-group {
        margin-left: 0;
        margin-right: 0;
    }
    .form-group .form-control:last-child {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }

    @media screen and (min-width: 768px) {
        #adv-search, #adv-search2, #adv-search3{
            width: 150;
            margin: 5px auto;
        }
        .dropdown.dropdown-lg {
            position: static !important;
        }
        .dropdown.dropdown-lg .dropdown-menu {
            min-width: 350px;
        }
    }

    .radio {
        padding-left: 20px; margin: 25px;
        color: darkslategray}
    .radio label {
        display: inline-block;
        border-bottom: 1px dotted lightgray;
        position: relative;
        padding-left: 5px; }
    .radio label::before {
        content: "";
        display: inline-block;
        position: absolute;
        width: 17px;
        height: 17px;
        left: 0;
        margin-left: -20px;
        border: 1px solid #cccccc;
        border-radius: 50%;
        background-color: #fff;
        -webkit-transition: border 0.15s ease-in-out;
        -o-transition: border 0.15s ease-in-out;
        transition: border 0.15s ease-in-out; }
    .radio label::after {
        display: inline-block;
        position: absolute;
        content: " ";
        width: 11px;
        height: 11px;
        left: 3px;
        top: 3px;
        margin-left: -20px;
        border-radius: 50%;
        background-color: #555555;
        -webkit-transform: scale(0, 0);
        -ms-transform: scale(0, 0);
        -o-transform: scale(0, 0);
        transform: scale(0, 0);
        -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
        -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
        -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
        transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33); }
    .radio input[type="radio"] {
        opacity: 0; }
    .radio input[type="radio"]:focus + label::before {
        outline: thin dotted;
        outline: 5px auto -webkit-focus-ring-color;
        outline-offset: -2px; }
    .radio input[type="radio"]:checked + label::after {
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1); }
    .radio input[type="radio"]:disabled + label {
        opacity: 0.65; }
    .radio input[type="radio"]:disabled + label::before {
        cursor: not-allowed; }
    .radio.radio-inline {
        margin-top: 0; }

    .radio-primary input[type="radio"] + label::after {
        background-color: #428bca; }
    .radio-primary input[type="radio"]:checked + label::before {
        border-color: #428bca; }
    .radio-primary input[type="radio"]:checked + label::after {
        background-color: #428bca; }

    .custom{
        display: none;
        width: 60%;
    }
</style>

<table class="table cst" style="background: white;height: 97%;width: 99.5%">
    <tr class="" style="width: 100%">
    <% if @current_user.role.downcase != 'coder'%>

    <td class="" style="width: 30%;border: 1px solid gray">

        <div id="first" class="radio radio-primary" onmousedown="showControls('den')">
            <input type="radio" name="radio" id="radio">
            <label for="radio">
              By Death Entry Number
            </label>
          </div>

          <div class="radio radio-primary" onmousedown="showControls('drn')">
            <input type="radio" name="radio" id="radio0">
            <label for="radio0">
              By Death Registration Number
            </label>
          </div>

          <div class="radio radio-primary" onmousedown="showControls('details_of_deceased')">
            <input type="radio" name="radio" id="radio1">
            <label for="radio1">
              By Personal Details of Deceased
            </label>
          </div>
          <div class="radio radio-primary" onmousedown="showControls('home_address')">
            <input type="radio" name="radio" id="radio2">
            <label for="radio2">
              By Home Address
            </label>
          </div>

          <div class="radio radio-primary" onmousedown="showControls('mother')">
            <input type="radio" name="radio" id="radio3">
            <label for="radio3">
              By Name of Mother
            </label>
          </div>

          <div class="radio radio-primary" onmousedown="showControls('father')">
            <input type="radio" name="radio" id="radio4">
            <label for="radio4">
              By Name of Father
            </label>
          </div>

          <div class="radio radio-primary" onmousedown="showControls('informant_name')">
            <input type="radio" name="radio" id="radio7">
            <label for="radio7">
              By Name Informant
            </label>
          </div>

          <div class="radio radio-primary" onmousedown="showControls('informant_address')">
            <input type="radio" name="radio" id="radio5">
            <label for="radio5">
              By Informant Address
            </label>
          </div>

          <div class="radio radio-primary" onmousedown="showControls('place_of_death')">
            <input type="radio" name="radio" id="radio6">
            <label for="radio6">
              By Place of death
            </label>
          </div>
        </td>

    <% else %>
        <style>
            #input-td{
                padding-top: 50px;
            }
        </style>

    <% end %>

    <td id = "input-td" class="" style="width: 70%; border: 1px solid gray">

          <div id="den" class="container custom">
            <form class="form-horizontal" role="form" action="/do_search">
              <div class="form-group">
                <label for="den">Enter Death Entry Number </label>
                <input name="search_type" value="den" type="hidden" type="text" />
                <input name="den" id="den" class="form-control" type="text" />
              </div>
              <button type="submit" class="btn btn-primary pull-right"><span class="fa fa-search" aria-hidden="true"></span></button>
            </form>
          </div>

          <div id="drn" class="container custom">
            <form class="form-horizontal" role="form" action="/do_search">
              <div class="form-group">
                <input name="search_type" value="drn" type="hidden" type="text" />
                <label for="drn">Enter Death Registration Number </label>
                <input name="drn" id="drn" class="form-control" type="text" />
              </div>
              <button type="submit" class="btn btn-primary pull-right"><span class="fa fa-search"  aria-hidden="true"></span></button>
            </form>
          </div>


          <div class="container custom" id="details_of_deceased">
            <form class="form-horizontal" role="form" action="/do_search">
              <input name="search_type" value="details_of_deceased" type="hidden" type="text" />
              <div class="form-group">
                <label for="contain">First Name </label>
                <input name="first_name" id="first_name" class="form-control" type="text" />
              </div>

              <div class="form-group">
                <label for="contain">Last Name </label>
                <input name="last_name" id="last_name" class="form-control" type="text" />
              </div>

              <div class="form-group">
                <label for="filter">Sex</label>
                <select name="gender" id="gender" class="form-control">
                  <option value=""></option>
                  <option>Male</option>
                  <option>Female</option>
                </select>
              </div>

              <button type="submit" class="btn btn-primary pull-right"><span class="fa fa-search"  aria-hidden="true"></span></button>
            </form>
          </div>

          <div class="container custom" id="mother">
            <form class="form-horizontal" role="form" action="/do_search">
              <input name="search_type" value="mother" type="hidden" type="text" />
              <div class="form-group">
                <label for="mother_first_name">Mother First Name </label>
                <input name="mother_first_name" id="mother_first_name" class="form-control" type="text" />
              </div>

              <div class="form-group">
                <label for="mother_last_name">Mother Last Name </label>
                <input name="mother_last_name" id="mother_last_name" class="form-control" type="text" />
              </div>

              <button type="submit" class="btn btn-primary pull-right"><span class="fa fa-search"  aria-hidden="true"></span></button>
            </form>
          </div>

          <div class="container custom" id="informant_name">
            <form class="form-horizontal" role="form" action="/do_search">
              <input name="search_type" value="informant_name" type="hidden" type="text" />
              <div class="form-group">
                <label for="informant_first_name">Informant First Name </label>
                <input name="informant_first_name" id="informant_first_name" class="form-control" type="text" />
              </div>

              <div class="form-group">
                <label for="informant_last_name">Informant Last Name </label>
                <input name="informant_last_name" id="informant_last_name" class="form-control" type="text" />
              </div>

              <button type="submit" class="btn btn-primary pull-right"><span class="fa fa-search"  aria-hidden="true"></span></button>
            </form>
          </div>


          <div class="container custom" id="father">
            <form class="form-horizontal" role="form" action="/do_search">
              <input name="search_type" value="father" type="hidden" type="text" />
              <div class="form-group">
                <label for="father_first_name">Father First Name </label>
                <input name="father_first_name" id="father_first_name" class="form-control" type="text" />
              </div>

              <div class="form-group">
                <label for="father_last_name">Father Last Name </label>
                <input name="father_last_name" id="father_last_name" class="form-control" type="text" />
              </div>

              <button type="submit" class="btn btn-primary pull-right"><span class="fa fa-search"  aria-hidden="true"></span></button>
            </form>
          </div>

          <div class="container custom" id="home_address">
            <form class="form-horizontal" role="form" action="/do_search">
              <input name="search_type" value="home_address" type="hidden" type="text" />
              <div class="form-group">
                <label for="home_country">Home Country</label>
                    <select name="home_country" id="home_country" onchange="ajaxify('/districts', 'home_district', ['home_district', 'home_ta', 'home_village'])" class="form-control" type="text" >
                    </select>
              </div>

              <div class="form-group">
                <label for="home_district">Home District</label>
                <select name="home_district" id="home_district"
                        onchange="ajaxify('/tas?district={home_district}', 'home_ta', ['home_ta', 'home_village'])" class="form-control conditional" type="text" >
                </select>
              </div>

              <div class="form-group">
                <label for="home_ta">Home TA</label>
                <select name="home_ta" id="home_ta"
                        onchange="ajaxify('/villages?ta={home_ta}&district={home_district}', 'home_village', ['home_village'])" class="form-control conditional" type="text">

                </select>
              </div>

              <div class="form-group">
                <label for="home_village">Home Village</label>
                <select name="home_village" id="home_village" class="form-control conditional" type="text">

                </select>
              </div>
              <button type="submit" class="btn btn-primary pull-right"><span class="fa fa-search"  aria-hidden="true"></span></button>
            </form>
          </div>

          <div class="container custom" id="place_of_death">
            <form class="form-horizontal" role="form" action="/do_search">
              <input name="search_type" value="place_of_death" type="hidden" type="text" />

              <div class="form-group">
                <label for="filter">Place of Death</label>
                <select name="gender" id="gender" class="form-control">
                  <option value=""></option>
                  <option>Home</option>
                  <option>Hospital/Institution</option>
                  <option>Other</option>

                </select>
              </div>

              <div class="form-group">
                <label for="place_of_death_district">District of Death</label>
                <input name="place_of_death_district" id="place_of_death_district" class="form-control" type="text" />
              </div>

              <div class="form-group">
                <label for="place_of_death_ta">TA of Death</label>
                <input name="place_of_death_ta" id="place_of_death_ta" class="form-control" type="text" />
              </div>

              <div class="form-group">
                <label for="village_of_death">Village of Death</label>
                <input name="village_of_death" id="village_of_death" class="form-control" type="text" />
              </div>

              <div class="form-group">
                <label for="place_of_death_hospital">Hospital of Death</label>
                <input name="place_of_death_hospital" id="place_of_death_hospital" class="form-control" type="text" />
              </div>


              <div class="form-group">
                <label for="other_place_of_death">Other Place of Death</label>
                <input name="other_place_of_death" id="other_place_of_death" class="form-control" type="text" />
              </div>
              <button type="submit" class="btn btn-primary pull-right"><span class="fa fa-search" aria-hidden="true"></span></button>
            </form>
          </div>


          <div class="container custom" id="informant_address">
            <form class="form-horizontal" role="form" action="/do_search">
              <input name="search_type" value=informant_address type="hidden" type="text" />

              <div class="form-group">
                <label for="informant_district">Informant Current District of Residence</label>
                <select name="informant_district" id="informant_district"
                        onchange="ajaxify('/tas?district={informant_district}', 'informant_ta', ['informant_ta', 'informant_village'])" class="form-control conditional" type="text" >
                </select>
              </div>

              <div class="form-group">
                <label for="informant_ta">Informant TA of Residence</label>
                <select name="informant_ta" id="informant_ta"
                        onchange="ajaxify('/villages?district={informant_district}&ta={informant_ta}', 'informant_village', ['informant_village'])" class="form-control conditional" type="text" >
                </select>
              </div>

              <div class="form-group">
                <label for="informant_village">Informant Village of Residence</label>
                <select name="informant_village" id="informant_village" class="form-control" type="text">
                </select>
              </div>
              <button type="submit" class="btn btn-primary pull-right"><span class="fa fa-search"  aria-hidden="true"></span></button>
            </form>
          </div>

    </td>
</tr>
</table>
<script>
  function showControls(id){
      $(".custom").hide();
      $("#" + id).show();
  }

  function __$(id){
    return document.getElementById(id);
  }

 function ajaxify(url, id, clear_arr){

      if (url.match(/{(.*?)}/)){
          url = url.replace(/{(.*?)}/, __$(url.match(/{(.*?)}/)[1]).value);
          if (url.match(/{(.*?)}/)){
              url = url.replace(/{(.*?)}/, __$(url.match(/{(.*?)}/)[1]).value);
          }
      }
      jQuery.ajax(
              {
                  url: url,
                  success: function(results){
                      results = JSON.parse(results);
                      for(var i = 0; i < clear_arr.length; i ++){
                        jQuery("#" + clear_arr[i]).val("");
                      }

                      var parent = document.getElementById(id);
                      jQuery(parent).empty();

                      for(var i = 0; i < results.length; i ++){
                        var option = document.createElement("option");
                          option.innerHTML = results[i];
                          parent.appendChild(option);
                      }

                  },
                  error: function(e){
                    alert("Something Went Wrong!");
                  }
              }
      )
  }

  ajaxify("/nationalities", 'home_country', ["home_district", "home_ta", "home_village"])
  ajaxify("/districts", 'informant_district', ["informant_district", "informant_ta", "informant_village"])

  var h = {
      "home_district" : ['home_country', 'Malawian'],
      "home_ta" : ['home_country', 'Malawian'],
      "home_village" : ['home_country', 'Malawian']
  }

  function checkConditions() {
      var conditionals = document.getElementsByClassName("conditional");
      for(var k = 0 in h){
          var node = document.getElementById(k);
          if(!node){continue};
          var parent = h[k][0];
          var value = h[k][1];
          if(document.getElementById(parent).value != value){
              node.setAttribute('disabled', true);
              jQuery(node).val("");
          }else{
              node.removeAttribute('disabled');
          }
      }
  }

  var interval = setInterval("checkConditions()", 200);


  showControls('den');
  $("#den").click();

</script>
