<style>
/*
.task-btn  {
  width: 100%;
}

.btn-title {
  font-size: 25px !important;
  font-weight: bold;
}

.btn-desc {
  font-size: 15px !important;
}

*/
.icon-attr {
  height: 40%;
  width: 40%;
  padding-top: 10px;
}

.divbtn {
  height: 150px;
  width: 200px;
  display: table;
  margin-top: 10px;
  cursor:pointer;
  box-shadow: 10px 10px 5px #888888;
  text-align: center; 
  background-color: white;
  border: 1px solid #2e6da4;
}

</style>

<h3 style="padding-left: 15px;">Case management</h3>


<div id="button-container"></div>





<script>
var button_container = document.getElementById("button-container");

function buildUI() {
  var row = document.createElement('div');

  button_container.appendChild(row);
  counter = 0;
  
  <%(@tasks || []).each do |title, desc, link, icon|%>
/*
*/

      <%if icon.blank? %>
        var icon_path = '/assets/folder.png'
      <%else%>
        var icon_path = '/assets/manage-cases-icons/<%=icon%>'
      <%end%>
      first_div = document.createElement('div');
      first_div.setAttribute('class','col-sm-2 col-md-2 col-lg-2');
      row.appendChild(first_div);
      row.setAttribute("onclick", "window.location = '<%=link%>'");

      second_div = document.createElement('div');
      first_div.appendChild(second_div);
      second_div.setAttribute('class','divbtn');

      span = document.createElement('span');
      span.setAttribute('class','icons');

      img = document.createElement('img');
      img.setAttribute('class','icon-attr');
      img.setAttribute('src', icon_path);
      span.appendChild(img);

      p = document.createElement('p');
      p.setAttribute('style','color: black; font-weight: bold;');
      p.innerHTML = "<%=title%>";
      span.appendChild(p);

      second_div.appendChild(span);
      
      counter++;

      if(counter == 2){
        /*row = document.createElement('div');
        row.innerHTML = "&nbsp;";
        button_container.appendChild(row);
        row = document.createElement('div');
        button_container.appendChild(row);
        counter = 0;*/
      }
  <%end%>


}


buildUI();

</script>
