development: &development
  protocol: 'http'
  host: localhost
  port: 5984 
  prefix: 
  suffix: 
  username: 
  password: 
  crtkey: 
  district_code:
  print_user:
  print_password:
  printer_name: Printer1, Printer2
  duplicate_score: 6
  ben_assignment_interval: 3
  barcodes_path: /home/usr/barcodes/ 
  certificates_path: /home/usr/certificates/
  dispatch_path: /home/usr/dispatch/ 
  duplicate_score: 6
  ben_assignment_interval: 3
  printer_name: ME,Printer2

test:
  <<: *development
  suffix: test

production:
  <<: *development
  protocol: 'http'
  suffix:
