development: &development
  protocol: 'http'
  host: localhost
  port: 5984 
  prefix: edrs
  suffix: hq
  username: 
  password: 
  crtkey: 
  district_code:
  print_user:
  print_password:
  printer_name: Printer1, Printer2
  pre_printed_paper: true
  ben_assignment_interval: 3
  barcodes_path: /home/usr/barcodes/ 
  certificates_path: /home/usr/certificates/
  dispatch_path: /home/usr/dispatch/

test:
  <<: *development
  suffix: test

production:
  <<: *development
  protocol: 'http'
  suffix: hq
