production:
  adapter: mysql2
  database: edrs
  username: root
  password: password
  host: localhost
  pool: 500

development:
  adapter: mysql2
  database: edrs_dc
  username: root
  password: password
  host: localhost
  pool: 500