exact_duplicate: true
potential_duplicate: true
duplicate_precision: 90 #percentage precision
duplicate_score: 6
drn_assignment_interval: 3
printer_name: ME,Printer2
sampling_frequency: Daily #Weekly|Monthly
sample_percentage: 5
site_type: hq
app_jobs_url: 'http://localhost:3321'