exact_duplicate: true
potential_duplicate: true
duplicate_precision: 90 #percentage precision
duplicate_score: 6
drn_assignment_interval: 3
printer_name: ME,Printer2
sampling_frequency: Daily #Weekly|Monthly
sample_percentage: 5
site_type: hq
remote_exclude: Chitipa,Lilongwe,Ntcheu,Blantyre
app_jobs_url: 'http://localhost:3321'
pre_printed_paper: true
wkhtmltopdf: /usr/bin/wkhtmltopdf
barcodes_path: /home/cranberry/hqbarcodes/ 
certificates_path: /home/cranberry/certificates/
dispatch_path: /home/usr/dispatch/
print_qrcode: true
qrcodes_path: /home/cranberry/barcodes/